#titulo-id {
    color: darkorchid;
}

.cor-roxa {
    color: crimson;
}


h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 36px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 36px;
}
 
h2 {
    color: darkturquoise;
}

.fundo-ciano {
    background: darkcyan;
}
.fonte-frande {
    font-size: 50px;
}

#titulo-principal {
    background: black;
    color: white;
}